
@import '../../static/scss/common.scss';
@import '../../static/scss/font.css';

.home-header {
    display: flex;
    padding: 10px;
    background-color: rgb(233, 32, 61);
}

.home-header-left {
    width: 60px;
    margin: 5px 0;
    text-align: left;
    font-size: 16px;
    color: #fff;
    span {
        margin-right: 3px; 
    }
}

.home-header-middle {
    flex: 1;
    .search-container {
        padding: 5px;
        border-radius: 15px;
        background-color: #fff;
        overflow: hidden;
        i {
            color: #ccc;
        }
        input {
            width: calc(100% - 15px);
            border: none;
            font-size: 14px;
            font-weight: normal;
            padding-left: 8px;
        }
    }
}

.home-header-right {
    width: 30px;
    margin: 5px 0;
    text-align: right;
    font-size: 16px;
    color: #fff;
    span {
        margin-left: 3px; 
    }
}
